footer {
    @include outer-container;
    li {
        display:inline;
        margin-right: em(20);
    }
    li a {

        color: $gold;
        font-weight: 900;
    }
    ul.contact-links {
        text-align:center;
        @include span-columns(8);
        @include shift(1);
        padding-top:8em;
    }
    .shekere-container {
       @include span-columns(2);
       width: 15%;
       opacity: 0.5;

    }
}
