footer {
    @include outer-container;
    padding-bottom: em(50);
    li {
        display:inline;
        margin-right: em(20);
    }
    ul.contact-links {
        text-align:center;
        @include span-columns(6);
        @include shift(3);
    }
}
