section.live {
    @include outer-container;
    .live-primary {
        margin-bottom: em(30);
    }
    .show-list {
        margin-bottom: em(500);
        li {
            margin-bottom: em(20);
        }
        a {
            color: $gold;
            font-weight: 500;
        }
        span {
            font-size: 14px;
            font-style: italic;
        }
    }
}
