section.press {
    @include outer-container;
    div.press-holder {
        @include span-columns(8);
        @include shift(1);
    }

    blockquote {
        margin-bottom: em(20);
        border-left: 2px solid white;
    }

    h1 {
        text-align: center;
    }
    p {
        font-weight: 600;
    }

    h3 {
        color: $gold;
        font-weight: bold;
        margin-top:em(20);
        margin-bottom: em(20);
    }

    a {
        color: $gold;
        font-weight: 900;
        text-decoration: underline;
        margin-bottom: em(10);
        display: inline-block;
    }

}
