<footer>

    <div class="shekere-container">
        <img src="/images/shekere.png" />
    </div>

    <ul class="contact-links">
        <li><a href="mailto:thebrightonbeat@gmail.com">Booking</a></li> <li><a href="https://www.facebook.com/TheBrightonBeat">Facebook </a></li>
        <li><a href="https://twitter.com/thebrightonbeat" target="_blank">Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCmi7CgCotcf_tR53XaNxeuA" target="_blank">YouTube</a></li>
        <li><a href="http://www.songkick.com/artists/3940331-brighton-beat" target="_blank">Songkick</a></li>
        <li><a href="http://www.jambase.com/Artists/92356/The-Brighton-Beat" target="_blank">Jambase</a></li>
        <li><a href="http://www.bandsintown.com/TheBrightonBeat/" target="_blank">Bandsintown</a></li>

    </ul>
</footer>

