<footer>
    <ul class="contact-links">
        <li><a href="mailto:thebrightonbeat@gmail.com">Booking</a></li>
        <li><a href="https://www.facebook.com/TheBrightonBeat">Facebook </a></li>
        <li><a href="https://twitter.com/thebrightonbeat">Twitter</a></li>
    </ul>
</footer>

