<footer>

    <div class="shekere-container">
        <img src="/images/shekere.png" />
    </div>

    <ul class="contact-links"> <li><a href="mailto:thebrightonbeat@gmail.com">Booking</a></li> <li><a href="https://www.facebook.com/TheBrightonBeat">Facebook </a></li>
        <li><a href="https://twitter.com/thebrightonbeat">Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCmi7CgCotcf_tR53XaNxeuA">YouTube</a></li>
        <li><a href="http://www.songkick.com/artists/3940331-brighton-beat">Songkick</a></li>
        <li><a href="http://www.jambase.com/Artists/92356/The-Brighton-Beat">Jambase</a></li>
        <li><a href="http://www.bandsintown.com/TheBrightonBeat/">Bandsintown</a></li>

    </ul>
</footer>

