<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="/" class="mobile-logo">
      <img src="/images/beat-logo.png" alt="Logo image">
    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><a href="/live">Live Archive</a></li>
        <li class="nav-link"><a href="/band">The Band</a></li>
        <li class="nav-link"><a href="/media">Media</a></li>
        <li class="nav-link logo">
          <a href="/" class="logo">
            <img src="/images/beat-logo.png" alt="Logo image">
          </a>
        </li>
        <li class="nav-link"><a href="https://thebrightonbeat.bandcamp.com/" target="_blank">Music</a></li>
        <li class="nav-link"><a href="/press">Press</a></li>
        <li class="nav-link"><a href="https://thebrightonbeat.bandcamp.com/merch" target="_blank">Merch </a></li>
      </ul>
    </nav>
  </div>
</header>






