<div class="iframe-tracks">
<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=4232693525/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/track=4193301859/transparent=true/" seamless><a href="http://thebrightonbeat.bandcamp.com/album/off-we-go">Off We Go by The Brighton Beat</a></iframe>
<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=4232693525/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/track=1781219839/transparent=true/" seamless><a href="http://thebrightonbeat.bandcamp.com/album/off-we-go">Off We Go by The Brighton Beat</a></iframe>
<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=4232693525/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/track=3335814686/transparent=true/" seamless><a href="http://thebrightonbeat.bandcamp.com/album/off-we-go">Off We Go by The Brighton Beat</a></iframe>
<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=4232693525/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/track=2308877581/transparent=true/" seamless><a href="http://thebrightonbeat.bandcamp.com/album/off-we-go">Off We Go by The Brighton Beat</a></iframe>
</div>
