<div class="iframe-tracks">
<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1546759907/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=643286594/transparent=true/" seamless><a href="http://thebrightonbeat.bandcamp.com/album/hear-and-now">Hear and Now by The Brighton Beat</a></iframe>  
<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1546759907/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=2198874155/transparent=true/" seamless><a href="http://thebrightonbeat.bandcamp.com/album/hear-and-now">Hear and Now by The Brighton Beat</a></iframe>
<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1546759907/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=2666091440/transparent=true/" seamless><a href="http://thebrightonbeat.bandcamp.com/album/hear-and-now">Hear and Now by The Brighton Beat</a></iframe>
<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1546759907/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=1158019162/transparent=true/" seamless><a href="http://thebrightonbeat.bandcamp.com/album/hear-and-now">Hear and Now by The Brighton Beat</a></iframe>
</div>
