<div class='songkick'>
    <iframe name="easyXDM_3940331_4526_provider" id="easyXDM_3940331_4526_provider" class="songkick-widget" src="http://widget.songkick.com/songkick-widget.html?artist=3940331&amp;header=Upcoming%20Dates&amp;background-color=%23d6d6d6&amp;theme=light#xdm_e=http%3A%2F%2Fthebrightonbeat.com&amp;xdm_c=3940331_4526&amp;xdm_p=1" frameborder="0" style="width: 100%; height: 312px;"></iframe>
</div>

