---
title: The Brighton Beat | New York City Afrobeat + Funk
---
<div id="callout-top"><p> Next show: January 17th @ Blue Note!</p></div>
<div class="band-background-image">
    <section class='primary-top container'>
        <%= partial 'header' %>
        <h1> HOT AFROBEAT - JAZZ - FUNK </h1>
        <div class="introduction">
            <div class="description">
                <h4> A positive Afrobeat force, bringing fresh world music to NYC/Boston and beyond.  The Brighton Beat's inspired rhythms and powerful horn section keeps the crowd dancing and engaged in an intimate and creative atmosphere.</h4>
            </div>
            <div class="video">
                <iframe width="560" height="315" src="http://www.youtube.com/embed/fZJqk9ZERII" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </section>
</div>
<section class='media'>
    <div class='section-header'>
        <h1>Listen</h1>
        <h1> Upcoming Shows </h1>
    </div>
    <h1 class="mobile-embed-header"> Listen </h1>
    <%= partial 'iframe_tracks' %>
    <h1 class="mobile-embed-header"> Upcoming Shows </h1>
    <%= partial 'songkick' %>

</section>
<section class='mailing-list'>
    <div class="signup-form">
        <h4> Join our mailing list: </h4>
        <form id="email-capture">
            <input class="email-submission" type="email">
            <button class="email-button" type="submit"> Submit </button>
        </form>
    </div>
</section>
