---
title: The Brighton Beat | New York City Afrobeat + Funk
---
<%= partial "partials/header" %>      
<div class="band-background-image">
    <section class='primary-top container'>
        <h1> HOT AFROBEAT - JAZZ - FUNK </h1>
        <div class="introduction">
            <div class="description">
                <h4> A positive Afrobeat force, bringing fresh world music to NYC/Boston and beyond.  The Brighton Beat's inspired rhythms and powerful horn section keeps the crowd dancing and engaged in an intimate and creative atmosphere.</h4>
            </div>
            <div class="video">
               <iframe width="640" height="360" src="https://www.youtube.com/embed/FJAcdUdq12Q" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </section>
</div>
<section class='media'>
    <div class='section-header'>
        <h1>Listen</h1>
        <h1> Upcoming Shows </h1>
    </div>
    <h1 class="mobile-embed-header"> Listen </h1>
    <%= partial 'partials/iframe_tracks' %>
    <h1 class="mobile-embed-header"> Upcoming Shows </h1>
    <%= partial 'partials/songkick' %>

</section>
<section class='mailing-list'>
    <div class="signup-form">
        <h4> Join our mailing list: </h4>
        <form id="email-capture">
            <input class="email-submission" type="email">
            <button class="email-button" type="submit"> Submit </button>
        </form>
    </div>
</section>
