---
title: Media
---

<section class="media">
    <%= partial 'partials/header' %>
    <h1> Media</h1>
    <div class='video-holder'>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/FJAcdUdq12Q" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/gKe3Y7OuE2Y" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/PnKdKSK6EBU" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/QPAE2VOyq_g" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/QDd09ljW2g4" frameborder="0" allowfullscreen></iframe>
      <img src="/images/blue-note-band.jpg">
      <img src="/images/blue-note.jpg">
      <img src="/images/studio.jpg">   
      <img src="/images/teters.jpg"> 
      <img src="/images/horns-studio.jpg">  
      <img src="/images/shek.jpg">      
      
      
      
    </div>
</section>
