---
title: Media
---
<%= partial "partials/header" %>      

<section class="media">
  <h1> Media</h1>
  <div class='video-holder'>
    <iframe width="1280" height="600" src="https://www.youtube.com/embed/z2-BNhSE2io" frameborder="0" allowfullscreen></iframe>
    <iframe width="1280" height="600" src="https://www.youtube.com/embed/kprINGxRksg" frameborder="0" allowfullscreen></iframe>      
    <img src="/images/blue-note-band.jpg">
    <img src="/images/blue-note.jpg">
    <img src="/images/studio.jpg">   
    <img src="/images/teters.jpg"> 
    <img src="/images/horns-studio.jpg">  
    <img src="/images/shek.jpg">      
  </div>
</section>
