---
title: Media
---

<section class="media">
    <%= partial 'header' %>
    <h1> Media</h1>
    <div class='video-holder'>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fZJqk9ZERII" frameborder="0" allowfullscreen></iframe>
            <iframe width="480" height="360" src="https://www.kickstarter.com/projects/thebrightonbeat/the-brighton-beats-new-afrobeat-jazz-funk-album-ex/widget/video.html" frameborder="0" scrolling="no"> </iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/gKe3Y7OuE2Y" frameborder="0" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Aa26rH4iymA" frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pi7CnabcI4Q" frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/iU7rdl4zlvE" frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QDd09ljW2g4" frameborder="0" allowfullscreen></iframe>
    </div>
</section>
