---
title: The Brighto Beat | Press
---



<section class="press">
    <%= partial 'partials/header' %>
    <h1> Press </h1>
    <div class="press-holder">

        <blockquote>
            <a href="https://newyorkmusicdaily.wordpress.com/2015/03/02/brighton/" target="_blank"> New York Music Daily </a>

            <p>How brave is it for a band to open an album with a nine-minute song? If you play Afrobeat, that’s like putting the hit single first. Fela would vamp on the same groove for half an hour, live or in the studio, no problem. So explosive Boston-based Afrobeat jamband the Brighton Beat‘s new album, Off We Go, kicks off relatively tersely.</p>
            <cite>delarue</cite>
        <blockquote>
            <a href="http://werksman.blogspot.nl/2015/02/the-brighton-beat-off-we-go.html" target="_blank"> Here Comes The Flood Music Weblog </a>
            <p>Their second full-length Off We Go is a step up from their 2012 debut The Brighton Beat LP when it comes to dynamics, but they kept the live vibe intact. With so many band members in the studio you need a sound guy with good ears and Joe DiGiorgi at Headline Studios, NY did an excellent job.</p>
            <cite> Hans Werkman, February 2015</cite>

        </blockquote>


        <blockquote>
            <p>Wonderfully deep, heavy and experimental Afrobeat that evokes the spirit of the greats.</p>
            <cite>http://www.bandcamp.com</cite>
        </blockquote>
        <blockquote>
            <p>Bright-On! Get out of your comfort zone and into a new groove with The Brighton Beat. Every song takes the listener to a new world, where the natives are happy. It's a Jazz evolution, not the same old Afro-Beat business. If The Brighton Beat doesn't sound like any other band you've heard, you're right.</p>
            <cite>The Iconoclast Magazine</cite>
        </blockquote>
        <h3> Live At The Bean Runner: </h3>
        <blockquote>
            <a href="http://werksman.blogspot.nl/2013/07/the-brighton-beat-live-at-bean-runner.html" target="_blank"> Here Comes The Flood Music Weblog </a>
            <p> Afro-beat big band The Brighton Beat can sound really quiet considering the number of people on stage. The five mellow tracks on Live At The Bean Runner, recorded in Peekskill, NY, are allowed to develop organically. Kicking off with a cover of Fela Kuti's Dog Eat Dog they slip into Giraffe, one of the stand-out tracks from The Brighton Beat LP, throwing quite a few hat tips to the Supertramp classic Bloody Well Right.</p>
            <p>Live At The Bean Runner is a mellow album as a whole, flowing gently but picking up speed every now and then when it looks that they have painted themselves into a corner. Jazz comes to the rescue in Loose Cannon and they end the album on a high note with great percussion and keyboards interplay, a loud guitar solo and a good ol' sax battle during Big Top.</p>
            <cite> Hans Werkman, November 2013</cite>

        </blockquote>
        <h3> The Brighton Beat LP:</h3>
        <blockquote>
            <a href ="http://newyorkmusicdaily.wordpress.com/2012/11/24/brightonbeat/" target="_blank"> New York Music Daily </a>
            <p>"Get Lots of Brighton Beat – It’s All Good."  </p>
            <p>"One taste of this will hook you for life."  </p>
            <p>"Their formula is unhurried yet very tightly focused: introduce the hook and then follow that with slowly unwinding, casually crescendoing solos. Nobody overplays, and as much as everybody in the band takes his time getting where he’s going, the point is that they all get there."  </p>
            <cite>Dalarue, November 2012</cite>
        </blockquote>
        <blockquote>
            <a href ="http://werksman.blogspot.com/2012/11/the-brighton-beat-brighton-beat-lp.html" target="_blank"> Here Comes The Floow Music Weblog</a>
            <p>"The sheer joy of this NYC ensemble is contagious."  </p>
            <p>"People tend to forget that jazz started out as dance music. NYC afro-beat aficionados The Brighton Beat thrive on stage, but have managed to capture the excitement of their live shows in the studio when they recorded The Brighton Beat LP."  </p>

            <cite>Hans Werkman, November 2012</cite>
        </blockquote>
        <blockquote>
            <a href ="http://www.muzikreviews.com/reviews.php?ID=2334" target="_blank"> Muzikreviews.com</a>
            <p>"They get groovy, funky, and smooth. The rhythms create the songs, and then the horns, keys, and guitar take you down numerous paths. Call it what you want, but The Brighton Beat has made an entertaining album that is enjoyable for those that consider themselves jazz fans or not."  </p>

            <cite>Kevin Kozel, October 2012</cite>
        </blockquote>






    </div>
</section>
